<?xml version="1.0"?>
<launch>
<arg name="model" default="$(find robot_Lab_03)/xacro/run.xacro"/>
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg
model)' colors:=$(arg colors) initital:=$(arg initial)  color_initial:=$(arg color_initial)"/>
<node name="rviz" pkg="rviz" type="rviz" args=" -d $(find
myrobot_description)/rviz/config.rviz" />
<node name="robot_state_publisher" pkg="robot_state_publisher"
type="robot_state_publisher"/>
<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
type="joint_state_publisher_gui"/>
</launch>
